body{
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    justify-self: center;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;


}
button{
    padding: 15px 40px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;
}
button:hover{
    background-color: #0056b3;
    transform: scale(1.05);
}
#output {
    margin-top: 25px;;
    font-size: 1.2rem;
    color: #333;
}